<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link
      rel="stylesheet"
      href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css"
    />
  </head>
  <body>
    <div class="admin-login">
      <div class="bg"></div>
      <form action="">
        <article>
          <div class="thum">
            <img src="/img/admin/admin_thum_test.jpg" alt="" />
          </div>
          <div class="name">UserName</div>
          <div class="input-area">
            <input type="password" name="" id="" placeholder="Password" />
            <button type="submit"><i class="xi-search"></i></button>
          </div>
        </article>
        <article>
          <div class="thum">
            <img src="/img/admin/admin_thum_test.jpg" alt="" />
          </div>
          <div class="name">UserName</div>
          <div class="input-area">
            <input type="password" name="" id="" placeholder="Password" />
            <button type="submit"><i class="xi-search"></i></button>
          </div>
        </article>
      </form>
    </div>
  </body>
</html>
