@import "inc";

.admin-login {
  position: relative;
  .bg {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    // background: url("/img/admin/admin-login-bg.jpg") center;
    background-size: cover;
    transform: scale(1.3);
    filter: blur(50px);
  }
  article {
    // cursor: pointer;
    // border: 1px solid #ddd;
    // padding: 50px;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    gap: 50px;
    .thum {
      border: 2px solid rgba($color: #fff, $alpha: 0.5);
      width: 200px;
      height: 200px;
      overflow: hidden;
      border-radius: 50%;
      margin: 0 auto;
      position: relative;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        transform: translate(-50%, -50%);
        max-width: inherit;
      }
    }
    .name {
      color: #333;
      font-size: 3rem;
      margin: 12px 0 30px;
      font-weight: 300;
    }

    .input-area {
      position: relative;
    }

    input {
      border: 1px solid #ddd;
      height: 42px;
      padding: 0 15px;
      width: 100%;
      font-size: $font-size15;
      border-radius: 6px;
    }

    button {
      font-size: 2rem;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-48%);
    }
  }
}
