html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}
body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  // background: white;
	background: #111;
}
p {
  line-height: 1.6;
}
a {
	color: rgb(29, 29, 31);
  text-decoration: none;
}

body.before-load {
	overflow: hidden;
}


.profileImg {
	padding-top: 40px;
	z-index: -1;
	position: fixed;
	display: flex;
	justify-content: flex-end;
	mix-blend-mode: soft-light;
	right:0;
	top:0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.5s;
}

.container {
  /* iPhone 가로 스크롤 방지 */
  overflow-x: hidden;
}

.global-nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
}

.local-nav {
  position: absolute;
  left: 0;
  top: 45px;
  width: 100%;
  height: 52px;
  padding: 0 1rem;
  border-bottom: 1px solid #ddd;
}

.local-nav-links,
.global-nav-links {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
}

.global-nav-links {
  justify-content: space-between;
}

.product-name {
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: bold;
}

.local-nav-links {
  a {
    &:not(.product-name) {
      margin-left: 2em;
      font-size: 0.8rem;
    }
  }
}

.scroll-section {
  padding-top: 50vh;
}

#scroll-section-0 {
	h1 {
		text-align: center;
		color:#fff;
		transition: all 1s;
		opacity: 0;
		letter-spacing: 10px;
		p {
			font-size: 8rem;
			font-weight: 900;
			line-height: 1;
			margin-bottom: 40px;
		}

		span {
			font-size: 3rem;
			font-weight: 300;
		}

	}

	.mainVisual_txt {
		position: relative;
		transform: translateY(-50%);
		z-index: 100;

		ul {
			margin-top: 60px;
			display: flex;
			justify-content: center;
			gap: 0 20px;
			transform: translateY(100px);
			opacity: 0;
			transition: all 1s;

			li {
				width: 100%;
				max-width: 200px;
			}

			button {
				width: 100%;
				font-size: 2rem;
				border: 1px solid #fff;
				border-radius: 10px;
				padding: 20px;
				color: #fff;
				transition: all 0.5s;

				&:hover {
					background: #fff;
					color: #d30000;
				}
			}
		}

		&.on {
			h1 {
				letter-spacing: 0.5px ;
				opacity: 1 ;
			}
			ul {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
}



.main-message {
	display: flex;
	align-items: center;
	justify-content: center;
	top: 35vh;
	margin: 5px 0;
	height: 3em;
	font-size: 2.5rem;
	opacity: 0;
  p {
    font-weight: 700;
    text-align: center;
    line-height: 1.2;
  }

  small {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5em;
  }
}

.description {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1rem;
	font-size: 1.2rem;
	color: #888;
  strong {
    font-size: 3rem;
    color: #222;
    float: left;
    margin-right: 0.2em;
  }
}

#scroll-section-2 {
  .main-message {
    font-size: 3.5rem;
  }
	.b {
		top:10%;
		left:40%;
	}
	.c {
		top:15%;
		left:45%;
	}
}


.pin {
  width: 1px;
  height: 100px;
  background: #222;
}

.mid-message {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 2rem;
  color: #888;
  padding: 0 1rem;
  strong {
    color: #222;
  }
}

.canvas-caption {
  color: #888;
  padding: 0 1rem;
  font-size: 1.2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  background: darkorange;
  color: #fff;
}

.sticky-elem {
	color:#fff;
  position: fixed;
  // top: 0;
  left: 0;
  width: 100%;
  display: none;
	&.desc-message {
		font-size: 1.4rem;
		width: 45%;
		font-weight: bold;
		opacity: 0;
	}
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
}

.normal-content {
	margin-bottom: 10rem;
}

@media (min-width: 1024px) {

  .main-message {
    font-size: 4vw;
    small {
      font-size: 1.5vw;
    }
  }
  .description {
		padding: 0;
    font-size: 2rem;
    strong {
      font-size: 6rem;
    }
  }

  #scroll-section-2 {
    .main-message {
      font-size: 6vw;
    }
		.b {
			top: 20%;
			left: 53%;
		}

		.c {
			left: 55%;
		}
  }

	.sticky-elem.desc-message {
		&.desc-message {
			width: 20%;
		}
	}
  .mid-message {
		width: 1000px;
		padding: 0;
		font-size: 4vw;
  }

  .canvas-caption {
		// margin-top: -8rem;
		// padding: 0;
		font-size: 2rem;
  }
}
