:root {
	--project-color: #fff103;
	--portfolioBg: #d96767;
}

html {
	font-family: "Noto Sans KR", sans-serif;
	font-size: 14px;
}

body {
	overflow-x: hidden;
	color: #260401;
	letter-spacing: -0.05em;
	// background: white;
	background: #111;
}

p {
	line-height: 1.6;
}

a {
	color: #260401;
	text-decoration: none;
}

body.before-load {
	overflow: hidden;
}

.waveBox {
	top: -70%;
	position: absolute;
	width: 100%;
	opacity: 0.1;
}

.wave {
	opacity: 0.4;
	position: absolute;
	top: 3%;
	left: 50%;
	background: rgb(63, 0, 163);
	width: 3000px;
	height: 3000px;
	margin-left: -1500px;
	margin-top: -1500px;
	transform-origin: 50% 48%;
	border-radius: 43%;
	animation: drift 5s infinite linear;
}

.wave.-three {
	animation: drift 7s infinite linear;
}

.wave.-two {
	animation: drift 9s infinite linear;
	opacity: 0.1;
	background: yellow;
}

@keyframes drift {
	from {
		transform: rotate(0deg);
	}

	from {
		transform: rotate(360deg);
	}
}

.profileImg {
	padding-top: 40px;
	z-index: -1;
	position: fixed;
	display: flex;
	justify-content: flex-end;
	mix-blend-mode: soft-light;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.5s;
}

.container {
	/* iPhone 가로 스크롤 방지 */
	overflow-x: hidden;
}

.global-nav {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 44px;
	padding: 0 1rem;
}

.local-nav {
	position: absolute;
	left: 0;
	top: 45px;
	width: 100%;
	height: 52px;
	padding: 0 1rem;
	border-bottom: 1px solid #ddd;
}

.local-nav-links,
.global-nav-links {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	height: 100%;
}

.global-nav-links {
	justify-content: space-between;
}

.product-name {
	margin-right: auto;
	font-size: 1.4rem;
	font-weight: bold;
}

.local-nav-links {
	a {
		&:not(.product-name) {
			margin-left: 2em;
			font-size: 0.8rem;
		}
	}
}

.scroll-section {
	padding-top: 50vh;
}

#scroll-section-0 {
	h1 {
		text-align: center;
		color: #fff;
		transition: all 1s;
		opacity: 0;
		letter-spacing: 10px;

		p {
			font-size: 8rem;
			font-weight: 900;
			line-height: 1;
			margin-bottom: 40px;
		}

		span {
			font-size: 3rem;
			font-weight: 300;
		}
	}

	.mainVisual_txt {
		position: relative;
		transform: translateY(-50%);
		z-index: 100;

		ul {
			margin-top: 60px;
			display: flex;
			justify-content: center;
			gap: 0 20px;
			transform: translateY(100px);
			opacity: 0;
			transition: all 1s;

			li {
				width: 100%;
				max-width: 200px;
			}

			button {
				width: 100%;
				font-size: 2rem;
				border: 1px solid #fff;
				border-radius: 10px;
				padding: 20px;
				color: #fff;
				transition: all 0.5s;

				&:hover {
					background: #fff;
					color: #d30000;
				}
			}
		}

		&.on {
			h1 {
				letter-spacing: 0.5px;
				opacity: 1;
			}

			ul {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
}

.main-message {
	display: flex;
	align-items: center;
	justify-content: center;
	top: 35vh;
	margin: 5px 0;
	height: 3em;
	font-size: 2.5rem;
	opacity: 0;

	p {
		font-weight: 700;
		text-align: center;
		line-height: 1.2;
	}

	small {
		display: block;
		font-size: 1.2rem;
		margin-bottom: 0.5em;
	}
}

.description {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1rem;
	font-size: 1.2rem;
	color: #888;

	strong {
		font-size: 3rem;
		color: #222;
		float: left;
		margin-right: 0.2em;
	}
}

#scroll-section-2 {
	.main-message {
		font-size: 3.5rem;
	}

	.b {
		top: 10%;
		left: 40%;
	}

	.c {
		top: 15%;
		left: 45%;
	}
}

.pin {
	width: 1px;
	height: 100px;
	background: #222;
}

.mid-message {
	max-width: 1000px;
	margin: 0 auto;
	font-size: 2rem;
	color: #888;
	padding: 0 1rem;

	strong {
		color: #222;
	}
}

.canvas-caption {
	color: #888;
	padding: 0 1rem;
	font-size: 1.2rem;
	max-width: 1000px;
	margin: 0 auto;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 7rem;
	background: darkorange;
	color: #fff;
}

.sticky-elem {
	color: #fff;
	position: fixed;
	// top: 0;
	left: 0;
	width: 100%;
	display: none;

	&.desc-message {
		font-size: 1.4rem;
		width: 45%;
		font-weight: bold;
		opacity: 0;
	}
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
	display: block;
}

#scroll-section-1 {
	// transition: background 0.5s;
}

#show-scene-1 #scroll-section-1 {
	// background: #fff;
	// background: var(--portfolioBg);
}

.normal-content {
	margin-bottom: 10rem;
}

/* front-end portfolio*/
.workPortFolio {
	padding-top: 50px;
	position: relative;

	.arrows {
		button {
			position: absolute;
			z-index: 100;
			top: 50%;
			transform: translateY(-50%);
			font-size: 4rem;
			color: #fff;

			&.prev {
				left: 20px;
			}

			&.next {
				right: 20px;
			}
		}
	}

	.slider {
		position: relative;
	}

	.work-item {
		position: relative;
		padding: 50px 0;

		a {
			&:hover {
				.more {
					padding: 10px 20px;

					&::before {
						width: 100%;
					}
				}
			}
		}

		&::after {
			content: "";
			width: 440px;
			height: 440px;
			border-radius: 50%;
			// background: #fff;
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			background: var(--portfolioBg);
			z-index: -1;
			transition: background 1s;
		}

		.tit {
			font-size: 4rem;
			color: #fff;
			line-height: 1;
		}

		.cate {
			font-size: 1.4rem;
			margin: 20px 0;
			color: #fff;
			font-weight: 300;

			span {
				display: block;
			}
		}

		.more {
			font-size: 1rem;
			transition: all 0.5s;
			color: #F2F2F2;
			padding: 10px 0;

			position: relative;

			&::before {
				content: "";
				width: 0;
				height: 100%;
				background: var(--portfolioBg);
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				z-index: -1;
				transition: all 0.8s;
			}
		}

		a {
			justify-content: center;
			display: flex;
		}
	}
}

.section_tit {
	text-align: center;
	margin-bottom: 80px;
	color: #fff;

	p {
		font-size: 8rem;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 12px;
	}

	span {
		font-size: 2rem;
		opacity: 0.5;
		font-weight: 300;
	}
}

@media (min-width: 1024px) {
	.main-message {
		font-size: 4vw;

		small {
			font-size: 1.5vw;
		}
	}

	.description {
		padding: 0;
		font-size: 2rem;

		strong {
			font-size: 6rem;
		}
	}

	#scroll-section-2 {
		.main-message {
			font-size: 6vw;
		}

		.b {
			top: 20%;
			left: 53%;
		}

		.c {
			left: 55%;
		}
	}

	.sticky-elem.desc-message {
		&.desc-message {
			width: 20%;
		}
	}

	.mid-message {
		width: 1000px;
		padding: 0;
		font-size: 4vw;
	}

	.canvas-caption {
		font-size: 2rem;
	}
}



.devList {
	background: #232025;
	display: flex;

	.title {
		position: relative;
		left: auto;
		top: 0%;
		right: 0vw;
		bottom: auto;
		z-index: 1;
		width: 88.88888888888889vw;
		margin-top: 10vh;
		margin-left: -44.44444444444444vw;
		float: none;
		text-align: right;

		>div {
			display: inline-block;
			color: #232025;
			font-size: 13.5vw;
			line-height: 1;
			font-weight: 600;
			text-transform: uppercase;
			text-shadow: -1px 0 0 #d5cdc4, 0 1px 0 #d5cdc4, 1px 0 0 #d5cdc4,
				0 -1px 0 #d5cdc4;
		}
	}

	.info {
		width: 44.44444444444444vw;
		height: 90vh;
		min-height: 640px;
		margin-top: 5vh;
		margin-bottom: 5vh;
		margin-left: 2.777777777777778vw;
		position: relative;
		z-index: 10;

		.detail {
			color: #fff;
			margin-top: 10.6837vh;

			.projectTit {
				font-size: 1.563vw;
				font-weight: 600;
				margin-bottom: 2.13675vh;
			}
		}

		.thum {
			position: absolute;
			bottom: 0;

			li {
				width: 5.555555555555556vw;
				height: 3.555555555555556vw;
				position: relative;
				overflow: hidden;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: 50% 90%;

				a {
					display: block;
					width: 100%;
					height: 100%;
				}
			}

			ul {
				display: flex;
				gap: 0 1.25vw;
				position: relative;
			}

			.onBox {
				position: absolute;
				display: block;
				height: 100%;
				left: -5px;
				top: -5px;
				padding: 4px;
				border: 1px solid #d5cdc4;
				background-color: #232025;
				transition: all 0.8s;
				box-sizing: content-box;
				z-index: -1;
			}
		}
	}
}

.imgList {
	overflow: hidden;
	width: 44.44444444444444vw;
	position: relative;
	height: 90vh;
	max-height: none;
	margin-top: 5vh;
	margin-left: 2.777777777777778vw;

	.item {
		position: absolute;
		left: 0;
		top: 0;
		display: block;
		width: 44.44444444444444vw;
		height: 90vh;
		margin-top: 0vh;
		margin-left: 0vw;
		float: none;

		background-position: 50% 50%;
		background-size: cover;
		background-repeat: no-repeat;

		&::before {
			content: "";
			display: block;
			background: #232025;
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			transition: all 0.5s;
		}

		&.on {
			z-index: 3;

			&::before {
				left: 100%;
				width: 0;
			}
		}
	}


}





.detail .desc {
	font-size: 0.8333vw;
	font-weight: 300;
	line-height: 1.6;

	p {
		margin-bottom: 1vh;
	}

	a {
		color: #fff;
	}
}
