<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/intro.css" />
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css" />
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
	<script src="//code.jquery.com/jquery.min.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

	<title>Document</title>
</head>

<body>
	<!-- <section class="page_sec scroll-section" id="scroll-section-0">
		<div class="mainTit">
			<h2>ARCHIVE PROJECT</h2>
			<p>매일 기록하고, 매일 새로운것에 도전하다.s</p>
		</div>
	</section> -->

	<div class="container">
		<!-- <nav class="global-nav">
			<div class="global-nav-links">
				<a href="#" class="global-nav-item">Rooms</a>
				<a href="#" class="global-nav-item">Ideas</a>
				<a href="#" class="global-nav-item">Stores</a>
				<a href="#" class="global-nav-item">Contact</a>
			</div>
		</nav>
		<nav class="local-nav">
			<div class="local-nav-links">
				<a href="#" class="product-name">AirMug Pro</a>
				<a href="#">개요</a>
				<a href="#">제품사양</a>
				<a href="#">구입하기</a>
			</div>
		</nav> -->
		<section class="scroll-section" id="scroll-section-0">
			<div class="mainVisual_txt">
				<h1>
					<p>Non-Player-Character</p>
					<span>Art Direction Web & Digital Design</span>
				</h1>
				<ul>
					<li><button id="frontEnd">Front-end</button></li>
					<li><button id="backEnd">Back-end</button></li>
				</ul>
			</div>
			<div class='waveBox'>
				<div class='wave -one'></div>
				<div class='wave -two'></div>
				<div class='wave -three'></div>
			</div>

			<div class="profileImg"><img src="/img/intro/gytjq.png" alt=""></div>
			<div class="sticky-elem main-message a">
				<p>온전히 빠져들게 하는<br>최고급 세라믹</p>
			</div>
			<div class="sticky-elem main-message b">
				<p>주변 맛을 느끼게 해주는<br>주변 맛 허용 모드</p>
			</div>
			<div class="sticky-elem main-message c">
				<p>온종일 편안한<br>맞춤형 손잡이</p>
			</div>
			<div class="sticky-elem main-message d">
				<p>새롭게 입가를<br>찾아온 매혹</p>
			</div>
		</section>
		<section class="scroll-section" id="scroll-section-1">
			<div class="section_tit">
				<p>PORTFOLIO</p>
				<span>Introducing our portfolio.</span>
			</div>
			<div class="workPortFolio ">
				<div class="arrows">
					<button class="prev"><i class="xi-long-arrow-left"></i></button>
					<button class="next"><i class="xi-long-arrow-right"></i></button>
				</div>
				<div class="slider">
					<article data-color="#d96767">
						<div class="work-item">
							<a href="#;">
								<div class="info">
									<div class="tit">
										<p>다인정공</p>
										<span>DINE GROUP</span>
									</div>
									<div class="cate">
										WEBSITE <span>2019</span>
									</div>
									<div class="more">View Project</div>
								</div>
								<div class="img"><img src="/img/intro/dine.png" alt=""></div>
							</a>
						</div>
					</article>
					<article data-color="#3C4359">
						<div class="work-item">
							<a href="#;">
								<div class="info">
									<div class="tit">
										<p>다인정공</p>
										<span>DINE GROUP</span>
									</div>
									<div class="cate">
										WEBSITE <span>2019</span>
									</div>
									<div class="more">View Project</div>
								</div>
								<div class="img"><img src="/img/intro/dine.png" alt=""></div>
							</a>
						</div>
					</article>
					<article data-color="#F2D888">
						<div class="work-item">
							<a href="#;">
								<div class="info">
									<div class="tit">
										<p>다인정공</p>
										<span>DINE GROUP</span>
									</div>
									<div class="cate">
										WEBSITE <span>2019</span>
									</div>
									<div class="more">View Project</div>
								</div>
								<div class="img"><img src="/img/intro/dine.png" alt=""></div>
							</a>
						</div>
					</article>

				</div>
			</div>
		</section>
		<section class="scroll-section" id="scroll-section-2">
			<div class="sticky-elem main-message a">
				<p>
					<small>편안한 촉감</small>
					입과 하나 되다
				</p>
			</div>
			<div class="sticky-elem desc-message b">
				<p>
					편안한 목넘김을 완성하는 디테일한 여러 구성 요소들, 우리는 이를 하나하나 새롭게 살피고 재구성하는 과정을 거쳐 새로운 수준의 머그, AirMug Pro를 만들었습니다. 입에 뭔가 댔다는 감각은
					어느새
					사라지고 오롯이 당신과 음료만 남게 되죠.
				</p>
				<div class="pin"></div>
			</div>
			<div class="sticky-elem desc-message c">
				<p>
					디자인 앤 퀄리티 오브 스웨덴,<br>메이드 인 차이나
				</p>
				<div class="pin"></div>
			</div>
		</section>
		<section class="scroll-section" id="scroll-section-3">
			<div class="devList">
				<div class="imgList">
					<div class="item on" style="background-image: url(/img/intro/devList.jpg);"></div>
					<div class="item" style="background-image: url(/img/intro/devList2.jpg);"></div>
					<div class="item" style="background-image: url(/img/intro/devList3.jpg);"></div>
				</div>
				<div class="info">
					<div class="title">PINEAPPLE</div>
					<div class="detail">
						<div class="projectTit">MeDiaRama 메디라마</div>
						<div class="desc">
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores possimus labore quia ducimus porro
								repellat
								ipsam,
								asperiores maxime dolores quisquam numquam exercitationem optio tempora sunt laudantium perspiciatis sit
								dolorum
								aspernatur.
							</p>
							<div class="link"><a href="#;" target="_blank">https://github.com/seongchanhwang/archive</a></div>
						</div>

						<div class="thum">
							<div class="onBox"></div>
							<ul>
								<li class="on" style="background-image:url(/img/intro/devList.jpg)"><a href="#;"></a></li>
								<li style="background-image:url(/img/intro/devList2.jpg)"><a href="#;"></a></li>
								<li style="background-image:url(/img/intro/devList3.jpg)"><a href="#;"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer class="footer">
			2020, 1분코딩
		</footer>
	</div>
</body>
<script src="/js/intro.js"></script>

</html>