<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/intro.css" />
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css" />
	<title>Document</title>
</head>

<body>
	<section class="page_sec scroll-section" id="scroll-section-0">


		<div class="mainTit">
			<h2>ARCHIVE PROJECT</h2>
			<p>매일 기록하고, 매일 새로운것에 도전하다.s</p>
		</div>
		<div class="profileImg"><img src="/img/intro/gytjq.png" alt=""></div>
	</section>


	<script src="/js/intro.js"></script>
</body>

</html>