<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css" />
	<title>Document</title>
</head>

<body>
	<div id="wrap">
		<header>
			<section class="inner1800">
				<div id="logo">
					<a href="/"><i class="xi-spa"></i></a>
				</div>
				<nav id="gnb">
					<ul class="depth1">
						<li><a href="#;">Inspiration</a></li>
						<li><a href="#;">Find Work</a></li>
						<li><a href="#;">Learn Design</a></li>
						<li><a href="#;">Go Pro</a></li>
						<li><a href="#;">Marketplace</a></li>
						<li><a href="#;">Hire Designers</a></li>
					</ul>
				</nav>
				<div id="schForm">
					<form action="">
						<input type="text" name="" id="" />
						<button type="submit"><i class="xi-search"></i></button>
					</form>
				</div>
			</section>
		</header>

		<div id="main">
			<section id="mainVisual">
				<div class="inner1400">
					<dl>
						<dt>Discover the world’s top <br />designers & creatives</dt>
						<dd>
							Dribbble is the leading destination to find & showcase creative
							work and home to<br />
							the world's best design professionals.
						</dd>
					</dl>
				</div>
			</section>
			<section id="galleryList">
				<div class="inner1800">
					<div class="category">
						<ul>
							<li class="on"><a href="#;">All </a></li>
							<li><a href="#;">Animation </a></li>
							<li><a href="#;">Branding </a></li>
							<li><a href="#;">Illustration </a></li>
							<li><a href="#;">Mobile </a></li>
							<li><a href="#;">Print </a></li>
							<li><a href="#;">Product </a></li>
							<li><a href="#;">Design </a></li>
							<li><a href="#;">Typography </a></li>
							<li><a href="#;">Web </a></li>
							<li><a href="#;">Design</a></li>
						</ul>
					</div>
					<ul class="thumList">
						<li>
							<a href="#;">
								<div class="img">
									<img src="/img/thum/list_thum_test.jpg" alt="" />
								</div>
								<div class="txt">
									<div class="tit">타이틀</div>
									<div class="date">2021</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#;">
								<div class="img">
									<img src="/img/thum/list_thum_test.jpg" alt="" />
								</div>
								<div class="txt">
									<div class="tit">타이틀</div>
									<div class="date">2021</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#;">
								<div class="img">
									<img src="/img/thum/list_thum_test.jpg" alt="" />
								</div>
								<div class="txt">
									<div class="tit">타이틀</div>
									<div class="date">2021</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#;">
								<div class="img">
									<img src="/img/thum/list_thum_test.jpg" alt="" />
								</div>
								<div class="txt">
									<div class="tit">타이틀</div>
									<div class="date">2021</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</section>
		</div>

		<footer>
			<div class="inner1800">
				<div class="copy">© 2022 Dribbble. All rights reserved.</div>
			</div>
		</footer>
	</div>
</body>

</html>